* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}
html {
    overflow-x: hidden !important;
}

.title {
 
    margin: 0;

    padding: 10px 5px 10px;
    border-radius: 0;
    line-height: 24px;
    background-color: #fff;
    border-bottom: solid 1px #ebebeb;
}

.gird-ChiTiet {
    display: grid;
}

.columns-ChiTiet {
    margin-left:15px;
}

.title-wrap {

    padding: 0px 0px 0px 6px !important;
    
    margin: 0px !important;
}

    .title-wrap a {
        text-decoration: none;
    
    }

        .title-wrap a:hover {
            text-decoration: none;
            color: #8e34e9;
        }
