.title-wrap {


    padding: 0px 0px 0px 6px !important;
    margin: 0px !important;
}
body {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}
    .title-wrap a {
        text-decoration: none;
    
    }

        .title-wrap a:hover {
            text-decoration: none;
            color: #af22fa;
        }
