.title-wrap {
    font-family: "Gotham",sans-serif;
    font-size: 15px !important;
    padding: 0px 0px 0px 6px !important;
    margin: 0px !important;
}

    .title-wrap a {
        text-decoration: none;
        color: black;
    }
body {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}
        .title-wrap a:hover {
            text-decoration: none;
            color: #9bd031;
        }
/*-------Thanh Toán*/

.title-thanhtoan {
    text-align: center;
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
    padding: 10px;
}

.title-chung {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

.column-cart {
    width: 100%;
    height: auto;
}


.congcu {
    width: 100%;

    margin-bottom: 10px;
}

.tongtien {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
}

.chung-thanhtoan {
    text-align: -webkit-center;
    width: 100%;
}
.chung-thanhtoan {
    text-align: -webkit-center;
}

.textboxchung {
    width: 30%;
    height: 40px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0px;
    font-size: 15px;
    color: black;
}

.danhmuc-padding {
    padding: 5px;
}

.khoangcach {
    width: 170px;
 
}

.height {
    margin-top: 10px;
    text-align: -webkit-center;
    height: 50px;
    margin-bottom: 20px;
}

.error {
    padding: 5px;
}

.mid {
    margin: 105px auto;
    width: 18%;
}
textarea#ghichu {
    width: 100%;
}
.ssds {
    display: inline-flex;
}