
@{
    ViewBag.Title = "Chính sách cửa hàng";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


<div class="container">

    <div class="row">
        <div class="col-lg-12 title">
            <p class="title-wrap"><a href="~/Trang-Chu"><i class="fa fa-home"></i>Trang chủ</a> > <span>@ViewBag.Title</span></p>
            <hr />
        </div>
        <div class="col-lg-12 ">
            <p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:27.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:#333333">ĐIỀU KHOẢN V&Agrave; QUY ĐỊNH</span></span></span></span></span></p>

            <p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:#333333">C&aacute;c Điều Khoản v&agrave; quy định</span></span></span></strong></span></span></p>

            <p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:#333333">&Aacute;p dụng từ 20/7/2020</span></span></span></strong></span></span></p>

            <p>
                <br />
                <span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:#333333"><em>C&aacute;c điều khoản hợp đồng sau đ&acirc;y l&agrave; thỏa thuận giữa c&aacute;c b&ecirc;n, bao gồm&nbsp;:</em></span></span></span></span></span>
            </p>

            <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:#333333">- Tất cả th&ocirc;ng tin tr&ecirc;n website gồm b&agrave;i viết, h&igrave;nh ảnh, thiết kế quy tr&igrave;nh được giữ bản quyền của &nbsp;, nghi&ecirc;m cấm c&aacute;c h&agrave;nh vi sao ch&eacute;p v&agrave; chia sẻ với mục đ&iacute;ch kinh doanh.</span></span></span></span></span></p>

            <p>
                <span style="font-size:11pt">
                    <span style="font-family:Calibri,sans-serif">
                        <span style="font-size:13.5pt">
                            <span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
                                <span style="color:#333333">
                                    - C&aacute; nh&acirc;n hoặc tổ chức thực hiện việc đặt mua h&agrave;ng trực tuyến qua trang web thuộc sở hữu của cửa hàng của chún t&ocirc;i , trang web thương mại điện tử, hoặc đặt h&agrave;ng qua điện thoại sau đ&acirc;y gọi l&agrave; &ldquo;<strong>&nbsp;Kh&aacute;ch h&agrave;ng</strong>&rdquo;.<br />
                                    <br />
                                    - Kh&aacute;ch h&agrave;ng sau khi mua h&agrave;ng sẽ được gọi l&agrave; &ldquo;<strong>Kh&aacute;ch mua h&agrave;ng</strong>&rdquo;. Kh&aacute;ch mua h&agrave;ng sẽ được hiểu chấp nhận quyền v&agrave; nghĩa vụ của kh&aacute;ch h&agrave;ng.<br />
                                    <br />
                                    Mọi y&ecirc;u cầu đặt mua h&agrave;ng tr&ecirc;n trang web&nbsp;
                                </span>
                            </span>
                        </span><a href="http://hoayeuthuong.com/"><span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:red">bán hoa của chúng t&ocirc;i </span></span></span></a><strong>&nbsp;</strong><span style="font-size:13.5pt">
                            <span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
                                <span style="color:#333333">
                                    hoặc qua c&aacute;c c&ocirc;ng cụ hỗ trợ (điện thoại, yahoo, skype,&hellip;) đều được hiểu l&agrave; kh&aacute;ch h&agrave;ng đ&atilde; hiểu v&agrave; chấp nhận c&aacute;c điều khoản qui định trong &ldquo;&nbsp;<strong>ĐIỀU KHOẢN V&Agrave; QUY ĐỊNH</strong>&ldquo;. Sự hiểu v&agrave; chấp nhận c&aacute;c điều khoản n&agrave;y kh&ocirc;ng cần thiết phải c&oacute; chữ k&yacute; tay của kh&aacute;ch h&agrave;ng.<br />
                                    <br />
                                    Kh&aacute;ch h&agrave;ng c&oacute; thể truy cập nội dung &ldquo;&nbsp;<strong>ĐIỀU KHOẢN V&Agrave; QUY ĐỊNH</strong>&rdquo; bất cứ l&uacute;c n&agrave;o tr&ecirc;n trang web. C&aacute;c điều khoản c&oacute; trong &ldquo;&nbsp;<strong>ĐIỀU KHOẢN V&Agrave; QUY ĐỊNH</strong>&ldquo; n&agrave;y sẽ được &aacute;p dụng trong trường hợp c&oacute; bất kỳ nội dung hoặc văn bản n&agrave;o m&acirc;u thuẫn.<br />
                                    <br />
                                    Th&ocirc;ng tin của kh&aacute;ch h&agrave;ng khi đăng k&yacute; sẽ được nh&acirc;n vi&ecirc;n của t&ocirc;i li&ecirc;n hệ lại để đảm bảo mọi th&ocirc;ng tin của kh&aacute;ch h&agrave;ng l&agrave; ch&iacute;nh x&aacute;c. C&aacute;c th&ocirc;ng tin n&agrave;y sẽ được sử dụng như c&aacute;c yếu tố cần thiết để thực hiện việc mua h&agrave;ng.
                                </span>
                            </span>
                        </span>
                    </span>
                </span>
            </p>

            <p>
                <span style="font-size:11pt">
                    <span style="font-family:Calibri,sans-serif">
                        <span style="font-size:13.5pt">
                            <span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
                                <span style="color:#333333">
                                    T&ocirc;i giữ quyền thay đổi nội dung &ldquo;&nbsp;<strong>ĐIỀU KHOẢN V&Agrave; QUY ĐỊNH</strong>&ldquo; bất kỳ l&uacute;c n&agrave;o. Điều khoản được &aacute;p dụng sẽ l&agrave; những điều khoản được qui định tại thời điểm thực hiện việc mua hang. Kh&aacute;ch mua h&agrave;ng n&ecirc;n in v&agrave; lưu giữ những qui định n&agrave;y.<br />
                                    &nbsp;<br />
                                    <strong>ĐIỀU KHOẢN 1 &ndash; MỤC Đ&Iacute;CH &Aacute;P DỤNG</strong><br />
                                    &nbsp;<br />
                                    C&aacute;c nội dung trong &ldquo;&nbsp;<strong>ĐIỀU KHOẢN V&Agrave; QUY ĐỊNH</strong>&ldquo; được &aacute;p dụng d&agrave;nh ri&ecirc;ng cho việc b&aacute;n h&agrave;ng của t&ocirc;i tr&ecirc;n trang web&nbsp;
                                </span>
                            </span>
                        </span><a href="http://hoayeuthuong.com/"><span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:red">bán hoa của chúng t&ocirc;i</span></span></span> </a><span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:#333333">&nbsp;hoặc đặt qua điện thoại. Kh&aacute;ch h&agrave;ng đặt mua h&agrave;ng đồng nghĩa với việc kh&aacute;ch h&agrave;ng chấp nhận một c&aacute;ch kh&ocirc;ng điều kiện c&aacute;c điều khoản c&oacute; trong &ldquo;&nbsp;<strong>ĐIỀU KHOẢN V&Agrave; QUY ĐỊNH</strong>&ldquo;. C&aacute;c th&ocirc;ng tin kh&aacute;ch h&agrave;ng d&ugrave;ng để đăng k&yacute; tr&ecirc;n trang web của t&ocirc;i sẽ l&agrave; những yếu tố được sử dụng trong cam kết của kh&aacute;ch h&agrave;ng với ch&uacute;ng t&ocirc;i .</span></span></span>
                    </span>
                </span>
            </p>

            <p>
                <br />
                <span style="font-size:11pt">
                    <span style="font-family:Calibri,sans-serif">
                        <span style="font-size:13.5pt">
                            <span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
                                <span style="color:#333333">
                                    Ngược lại, tất cả c&aacute;c y&ecirc;u cầu của kh&aacute;ch h&agrave;ng kh&ocirc;ng được chấp nhận bởi cửa hàng t&ocirc;i đều kh&ocirc;ng c&oacute; gi&aacute; trị. Cửa hàng t&ocirc;i c&oacute; quyền thay đổi nội dung c&aacute;c điều khoản bất kỳ l&uacute;c n&agrave;o. T&ocirc;i khuyến c&aacute;o kh&aacute;ch h&agrave;ng n&ecirc;n tham khảo thường xuy&ecirc;n tr&ecirc;n trang web để cập nhập nội dung c&aacute;c điều khoản mua h&agrave;ng.<br />
                                    &nbsp;<br />
                                    <strong>ĐIỀU KHOẢN 2 &ndash; TRUY CẬP TRANG WEB</strong><br />
                                    &nbsp;<br />
                                    2.1. C&aacute;c mặt h&agrave;ng c&oacute; gi&aacute; kh&aacute;c 0đ (kh&ocirc;ng đồng) đươc đặt tr&ecirc;n website đều l&agrave; c&aacute;c mặt h&agrave;ng kh&aacute;ch h&agrave;ng c&oacute; thể mua.<br />
                                    <br />
                                    2.2. Để c&oacute; thể đặt mua h&agrave;ng, kh&aacute;ch h&agrave;ng cần phải ho&agrave;n tất thủ tục cung cấp c&aacute;c th&ocirc;ng tin li&ecirc;n lạc c&aacute; nh&acirc;n. Trong đ&oacute;, kh&aacute;ch h&agrave;ng cần điền một số th&ocirc;ng tin bắt buộc để c&oacute; thể thực hiện việc đặt mua. Kh&aacute;ch h&agrave;ng cần thiết phải nhập th&ocirc;ng tin ch&iacute;nh x&aacute;c, cụ thể v&agrave; đầy đủ. Trong trường hợp kh&aacute;ch h&agrave;ng cung cấp th&ocirc;ng tin sai, kh&ocirc;ng ch&iacute;nh x&aacute;c v&agrave; kh&ocirc;ng đầy đủ, cửa hàng t&ocirc;i c&oacute; quyền từ chối v&agrave; hủy bỏ đơn h&agrave;ng. Kh&aacute;ch h&agrave;ng chịu ho&agrave;n to&agrave;n tr&aacute;ch nhiệm đối với tất cả hậu quả t&agrave;i ch&iacute;nh c&oacute; thể xảy ra trong qu&aacute; tr&igrave;nh sử dụng trang web bằng t&agrave;i khoản đăng k&yacute; của m&igrave;nh.<br />
                                    <br />
                                    2.3. T&ocirc;i khuyến c&aacute;o kh&aacute;ch h&agrave;ng một số ch&uacute; &yacute; sau đ&acirc;y&nbsp;:<br />
                                    - Kh&aacute;ch h&agrave;ng chỉ được ph&eacute;p sử dụng v&agrave;/hoặc tải xuống c&aacute;c th&ocirc;ng tin c&oacute; tr&ecirc;n trang web của t&ocirc;i v&igrave; mục đ&iacute;ch c&aacute; nh&acirc;n, kh&ocirc;ng v&igrave; mục đ&iacute;ch thương mại v&agrave; c&oacute; giới hạn về thời gian.<br />
                                    - Kh&aacute;ch h&agrave;ng kh&ocirc;ng được ph&eacute;p copy hoặc sử dụng nội dung c&oacute; tr&ecirc;n trang web của t&ocirc;i tr&ecirc;n c&aacute;c trang web kh&aacute;c.<br />
                                    - Kh&aacute;ch h&agrave;ng kh&ocirc;ng được ph&eacute;p sử dụng, sử dụng lại, thay đổi, di chuyển, tr&iacute;ch dẫn, thay thế, ph&aacute;t t&aacute;n &hellip; trực tiếp hoặc gi&aacute;n tiếp, dưới bất kỳ h&igrave;nh thức n&agrave;o to&agrave;n bộ hoặc từng phần (h&igrave;nh ảnh, nội dung &hellip;) c&oacute; tr&ecirc;n trang web của t&ocirc;i cũng như t&ecirc;n, biểu trưng, biểu tượng của trang web v&agrave; của cửa hàng.<br />
                                    - Kh&aacute;ch h&agrave;ng vui l&ograve;ng th&ocirc;ng b&aacute;o cho t&ocirc;i về bất kỳ những vi phạm kể tr&ecirc;n, để t&ocirc;i c&oacute; hướng xử l&yacute; nhằm phục vụ kh&aacute;ch h&agrave;ng ng&agrave;y một tốt hơn.<br />
                                    &nbsp;<br />
                                    <strong>ĐIỀU KHOẢN 3 &ndash; ĐẶT MUA H&Agrave;NG</strong><br />
                                    &nbsp;<br />
                                    Hiện nay, t&ocirc;i chỉ tiếp nhận những đơn đặt h&agrave;ng giao tại Việt Nam.<br />
                                    Kh&aacute;ch h&agrave;ng cần phải ho&agrave;n tất c&aacute;c y&ecirc;u cầu khi thanh to&aacute;n mua h&agrave;ng để c&oacute; thể đặt mua h&agrave;ng. Sau khi kh&aacute;ch h&agrave;ng mua h&agrave;ng, t&ocirc;i sẽ gọi điện thoại x&aacute;c nhận về thời điểm cũng nhưng phương c&aacute;ch mua h&agrave;ng, tất cả th&ocirc;ng tin n&agrave;y đều được th&acirc;u &acirc;m v&agrave; chỉ được sử dụng khi c&oacute; khiếu nại.<br />
                                    &nbsp;<br />
                                    C&aacute;c th&ocirc;ng tin kh&aacute;ch h&agrave;ng sử dụng khi đăng k&yacute; với t&ocirc;i sẽ được sử dụng sau đ&oacute; trong qu&aacute; tr&igrave;nh giao h&agrave;ng. T&ocirc;i c&oacute; quyền tạm ngưng, hủy bỏ hoặc từ chối tất cả c&aacute;c đơn h&agrave;ng của một kh&aacute;ch h&agrave;ng trong trường hợp c&oacute; vấn đề li&ecirc;n quan đến th&ocirc;ng tin cung cấp v&agrave; thanh to&aacute;n của c&aacute;c đơn h&agrave;ng trước đ&oacute;.<br />
                                    &nbsp;<br />
                                    <strong>ĐIỀU KHOẢN 4 &ndash; T&Igrave;NH TRẠNG H&Agrave;NG H&Oacute;A</strong><br />
                                    &nbsp;<br />
                                    C&aacute;c mẫu h&agrave;ng v&agrave; gi&aacute; đều sẵn s&agrave;ng khi ch&uacute;ng xuất hiện tr&ecirc;n trang web của ch&uacute;ng t&ocirc;i , trong giới hạn số lượng tồn kho sẵn c&oacute;. Trong trường hợp kh&ocirc;ng c&oacute; đủ nguy&ecirc;n vật liệu cấu th&agrave;nh sản phẩm của kh&aacute;ch h&agrave;ng, t&ocirc;i sẽ tiến h&agrave;nh trao đổi với kh&aacute;ch h&agrave;ng phương &aacute;n thay thế, sau khi được sự đồng &yacute; của kh&aacute;ch h&agrave;ng th&igrave; đơn h&agrave;ng mới c&oacute; hiệu lực.<br />
                                    &nbsp;<br />
                                    <strong>ĐIỀU KHOẢN 5 &ndash; GI&Aacute;</strong><br />
                                    &nbsp;<br />
                                    Tất cả gi&aacute; sản phẩm đều bằng tiền VND, đ&atilde; bao gồm ph&iacute; chuyển h&agrave;ng qua đối t&aacute;c của t&ocirc;i v&agrave; đ&atilde; bao gồm thuế VAT (10%). Kh&aacute;ch h&agrave;ng thanh to&aacute;n bằng tiền Mỹ Kim (USD) sẽ &aacute;p dụng tỉ gi&aacute; ngoại tệ của Ng&acirc;n h&agrave;ng Vietcombank tại thời điểm thanh to&aacute;n. Kh&aacute;ch h&agrave;ng cũng c&oacute; thể chuyển khoản cho t&ocirc;i bằng c&aacute;c ngoại tệ kh&aacute;c. Chi tiết vui l&ograve;ng li&ecirc;n hệ địa chỉ mail :&nbsp;
                                </span>
                            </span>
                        </span><span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:red">linhnguyen1998125@gmail.com</span></span></span><br />
                        <span style="font-size:13.5pt">
                            <span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
                                <span style="color:#333333">
                                    T&ocirc;i nhận chuyển h&agrave;ng tới Tp. Hồ Ch&iacute; Minh, H&agrave; Nội v&agrave; c&aacute;c tỉnh th&agrave;nh tr&ecirc;n to&agrave;n quốc, ngo&agrave;i ra t&ocirc;i cũng c&oacute; chuyển một số đơn h&agrave;ng đến c&aacute;c quốc gia kh&aacute;c, c&aacute;c đơn h&agrave;ng chuyển ngo&agrave;i Tp. Hồ Ch&iacute; Minh v&agrave; H&agrave; Nội vui l&ograve;ng li&ecirc;n lạc với số điện thoại của t&ocirc;i ở phần li&ecirc;n hệ.&nbsp;<br />
                                    T&ocirc;i giữ quyền thay đổi gi&aacute; h&agrave;ng h&oacute;a bất kỳ l&uacute;c n&agrave;o, nhưng lu&ocirc;n ở mức gi&aacute; hợp l&yacute; nhất với chất lượng tốt nhất để n&acirc;ng cao t&iacute;nh cạnh tranh v&agrave; đảm bảo lợi &iacute;ch của kh&aacute;ch h&agrave;ng.<br />
                                    &nbsp;<br />
                                    <strong>ĐIỀU KHOẢN 6 &ndash; THỜI HẠN GIAO H&Agrave;NG V&Agrave; VẬN CHUYỂN</strong><br />
                                    &nbsp;<br />
                                    <strong>6.1 Điều Kiện Chung</strong>
                                </span>
                            </span>
                        </span>
                    </span>
                </span>
            </p>

            <p>&nbsp;</p>

            <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:#333333">H&agrave;ng sẽ được giao tại địa chỉ được n&ecirc;u bởi kh&aacute;ch h&agrave;ng khi đặt mua. Kh&aacute;ch h&agrave;ng c&oacute; tr&aacute;ch nhiệm cung cấp đầy đủ c&aacute;c th&ocirc;ng tin cần thiết để qu&aacute; tr&igrave;nh giao h&agrave;ng được diễn ra thuận lợi như&nbsp;: T&ecirc;n người nhận, địa chỉ ch&iacute;nh x&aacute;c, số nh&agrave;, tỉnh, t&ecirc;n phố, t&ecirc;n quận, huyện, phường, x&atilde;, số điện thoại cần li&ecirc;n hệ&hellip; T&ocirc;i kh&ocirc;ng chịu tr&aacute;ch nhiệm đối với c&aacute;c trường hợp chuyển h&agrave;ng sai địa chỉ do lỗi của kh&aacute;ch h&agrave;ng.</span></span></span></span></span></p>

            <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:#333333">Trong trường hợp kh&ocirc;ng c&oacute; người nhận hoặc người người nhận kh&ocirc;ng đồng &yacute; nhận, vấn đề sẽ xử l&yacute; như sau:</span></span></span></span></span></p>

            <p>
                <span style="font-size:11pt">
                    <span style="font-family:Calibri,sans-serif">
                        <span style="font-size:13.5pt">
                            <span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
                                <span style="color:#333333">
                                    - C&aacute;c mặt h&agrave;ng kh&ocirc;ng thể để l&acirc;u được: Hoa, b&aacute;nh kem, b&aacute;nh kẹo, g&acirc;u b&ocirc;ng: Kh&aacute;ch h&agrave;ng phải trả 100% gi&aacute; trị.<br />
                                    <br />
                                    <strong>6.2 Thời Gian Giao H&agrave;ng</strong>&nbsp;<br />
                                    Sau khi nhận được thanh to&aacute;n trước của kh&aacute;ch h&agrave;ng, t&ocirc;i sẽ giao đ&uacute;ng thời gian mà cửa hàng quy định tùy theo vị trí được giao, trong trường hợp giờ giao kh&ocirc;ng ph&ugrave; hợp t&ocirc;i sẽ trao đổi trước. Đơn h&agrave;ng chỉ được thực hiện khi c&oacute; sự đồng &yacute; của cả 2 b&ecirc;n.&nbsp;<br />
                                    <br />
                                    Thời gian giao h&agrave;ng c&oacute; thể sơm hoặc trễ hơn 60 ph&uacute;t, phụ thuộc v&agrave;o c&aacute;c điều kiện thời tiết hoặc giao th&ocirc;ng tại v&ugrave;ng địa l&yacute; nơi giao. Nếu trễ hơn thời gian n&agrave;y tr&ecirc;n 60 ph&uacute;t, t&ocirc;i sẽ th&ocirc;ng b&aacute;o tr&ecirc;n hệ thống email của khách hàng hoặc qua điện thoại cho người đặt v&agrave; người nhận.&nbsp; &nbsp;<br />
                                    &nbsp;<br />
                                    <strong>6.3 C&aacute;c vấn đề khi giao h&agrave;ng</strong>
                                </span>
                            </span>
                        </span>
                    </span>
                </span>
            </p>

            <p>
                <span style="font-size:11pt">
                    <span style="font-family:Calibri,sans-serif">
                        <span style="font-size:13.5pt">
                            <span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
                                <span style="color:#333333">
                                    Việc giao h&agrave;ng sẽ được thực hiện bởi đối t&aacute;c do t&ocirc;i lựa chọn. H&agrave;ng h&oacute;a trong qu&aacute; tr&igrave;nh vận chuyển c&oacute; thể chịu rủi ro ngo&agrave;i &yacute; muốn như g&atilde;y, hỏng &hellip; Kh&aacute;ch h&agrave;ng cần kiểm tra kỹ t&igrave;nh trạng g&oacute;i h&agrave;ng cũng như số lượng đơn h&agrave;ng. Mọi khiếu nại li&ecirc;n quan đến việc vận chuyển h&agrave;ng h&oacute;a cần phải được kh&aacute;ch h&agrave;ng th&ocirc;ng b&aacute;o lại cho t&ocirc;i trong v&ograve;ng 1 giờ đồng hồ sau khi nhận được h&agrave;ng. Kh&aacute;ch h&agrave;ng c&oacute; thể th&ocirc;ng b&aacute;o&nbsp;<br />
                                    - Li&ecirc;n hệ trực tiếp qua điện thoại trong phần li&ecirc;n hệ<br />
                                    - Gửi th&ocirc;ng tin &yacute; kiến phản hồi về địa chỉ email :&nbsp;
                                </span>
                            </span>
                        </span><a href="mailto:contact@hoayeuthuong.com"><span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:red">linhnguyen1998125@gmail.com</span></span></span></a><br />
                        <span style="font-size:13.5pt">
                            <span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
                                <span style="color:#333333">
                                    &nbsp;<br />
                                    <strong>6.4 Theo d&otilde;i đơn h&agrave;ng</strong>
                                </span>
                            </span>
                        </span>
                    </span>
                </span>
            </p>

            <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:#333333">Kh&aacute;ch h&agrave;ng c&oacute; thể theo d&otilde;i t&igrave;nh trạng giao h&agrave;ng bằng cách gửi email yêu cầu chi tiết tình trạng đơn hàng hoặc gọi điện về tổng đ&agrave;i của ch&uacute;ng t&ocirc;i . Nh&acirc;n vi&ecirc;n của t&ocirc;i sẽ c&oacute; tr&aacute;ch nhiệm th&ocirc;ng b&aacute;o tới kh&aacute;ch h&agrave;ng về t&igrave;nh trạng đơn h&agrave;ng.</span></span></span></span></span></p>

            <p>
                <br />
                <span style="font-size:11pt">
                    <span style="font-family:Calibri,sans-serif">
                        <span style="font-size:13.5pt">
                            <span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
                                <span style="color:#333333">
                                    &nbsp;<br />
                                    <strong>ĐIỀU KHOẢN 7 &ndash; THANH TO&Aacute;N</strong>
                                </span>
                            </span>
                        </span>
                    </span>
                </span>
            </p>

            <p>
                <span style="font-size:11pt">
                    <span style="font-family:Calibri,sans-serif">
                        <span style="font-size:13.5pt">
                            <span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
                                <span style="color:#333333">
                                    Kh&aacute;ch h&agrave;ng c&oacute; thể thanh to&aacute;n chuyển khoản bằng thẻ&nbsp;: BIDV hoặc qua PAYPAL hoặc c&aacute;c c&aacute;ch kh&aacute;c.<br />
                                    Vui l&ograve;ng xem c&aacute;c th&ocirc;ng tin thanh to&aacute;n của t&ocirc;i tại phần&nbsp;
                                </span>
                            </span>
                        </span><a href="~/Huongdanthanhtoan"><span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:red">Hướng dẫn thanh to&aacute;n</span></span></span></a><span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:red">.</span></span></span><br />
                        <span style="font-size:13.5pt">
                            <span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
                                <span style="color:#333333">
                                    &nbsp;<br />
                                    <strong>ĐIỀU KHOẢN 8 &ndash; TRẢ LẠI H&Agrave;NG Đ&Atilde; GIAO</strong>
                                </span>
                            </span>
                        </span>
                    </span>
                </span>
            </p>

            <p>
                <br />
                <span style="font-size:11pt">
                    <span style="font-family:Calibri,sans-serif">
                        <span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:#333333">T&ocirc;i chịu tr&aacute;ch nhiệm cung cấp th&ocirc;ng tin đầy đủ, ch&iacute;nh x&aacute;c nhất về c&aacute;c mẫu sản phẩm tr&ecirc;n trang web&nbsp;bán hoa</span></span></span><span style="font-size:13.5pt">
                            <span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
                                <span style="color:#333333">
                                    &nbsp;như h&igrave;nh ảnh, m&agrave;u sắc, kiểu d&aacute;ng, k&iacute;ch cỡ, số lượng, chất liệu &hellip; Kh&aacute;ch h&agrave;ng cần xem x&eacute;t kỹ trước khi quyết định đặt mua. T&ocirc;i chỉ nhận lại sản phẩm khi sản phẩm đ&oacute; kh&ocirc;ng đ&uacute;ng với mi&ecirc;u tả tr&ecirc;n trang web của t&ocirc;i v&agrave; kh&ocirc;ng đ&uacute;ng với y&ecirc;u cầu trong đơn đặt mua h&agrave;ng của kh&aacute;ch h&agrave;ng. Trong trường hợp n&agrave;y, kh&aacute;ch h&agrave;ng sẽ được nhận lại 100% số tiền bao gồm&nbsp;: gi&aacute; sản phẩm + ph&iacute; giao h&agrave;ng. Thời hạn ho&agrave;n trả tiền chậm nhất l&agrave; 5 ng&agrave;y kể từ ng&agrave;y nhận được trả lời ch&iacute;nh thức của ch&uacute;ng t&ocirc;i . Kh&aacute;ch h&agrave;ng c&oacute; thể nhận lại tiền qua chuyển khoản, s&eacute;c, paypal, hoặc tiền mặt&hellip;<br />
                                    Trong tất cả c&aacute;c trường hợp kh&aacute;c, t&ocirc;i kh&ocirc;ng chịu tr&aacute;ch nhiệm đối với c&aacute;c lỗi kh&ocirc;ng phải do t&ocirc;i g&acirc;y ra.<br />
                                    Sản phẩm trả lại kh&ocirc;ng đầy đủ, g&atilde;y, hỏng, bẩn, r&aacute;ch, mất tag &hellip; do lỗi của kh&aacute;ch h&agrave;ng sẽ kh&ocirc;ng được chấp nhận.<br />
                                    &nbsp;<br />
                                    <strong>ĐIỀU KHOẢN 9 &ndash; CHĂM S&Oacute;C KH&Aacute;CH H&Agrave;NG&nbsp;</strong>
                                </span>
                            </span>
                        </span>
                    </span>
                </span>
            </p>

            <p>
                <br />
                <span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:#333333">Kh&aacute;ch h&agrave;ng c&oacute; bất kỳ thắc mắc hoặc c&acirc;u hỏi n&agrave;o li&ecirc;n quan đến c&aacute;c sản phẩm của ch&uacute;ng t&ocirc;i , c&aacute;c nh&acirc;n vi&ecirc;n chăm s&oacute;c kh&aacute;ch h&agrave;ng của t&ocirc;i lu&ocirc;n sẵn s&agrave;ng giải đ&aacute;p.&nbsp;</span></span></span></span></span>
            </p>

            <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:#333333">Thời gian phục vụ 24/24. Vui l&ograve;ng xem th&ecirc;m th&ocirc;ng tin tại phần&nbsp;</span></span></span><span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:red">Li&ecirc;n hệ</span></span></span><span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:#333333">.</span></span></span></span></span></p>

            <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">&nbsp;</span></span></p>

            <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:#333333">ĐIỀU KHOẢN 10 - HỦY ĐƠN H&Agrave;NG - THAY ĐỔI ĐƠN H&Agrave;NG</span></span></span></strong></span></span></p>

            <p>
                <br />
                <span style="font-size:11pt">
                    <span style="font-family:Calibri,sans-serif">
                        <span style="font-size:13.5pt">
                            <span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
                                <span style="color:#333333">
                                    <strong>1/ Hủy đơn h&agrave;ng</strong><br />
                                    - Đối với H&agrave; Nội v&agrave; Tp. HCM phải hủy trước 8 giờ h&agrave;nh ch&iacute;nh (từ 7h00 s&aacute;ng đến 21h00).<br />
                                    - Đơn h&agrave;ng ở tỉnh phải hủy trước 12giờ&nbsp;h&agrave;nh ch&iacute;nh (từ 7h00 s&aacute;ng đến 21h00).<br />
                                    C&aacute;c đơn h&agrave;ng hủy sau thời gian n&agrave;y vẫn phải thanh to&aacute;n 100% cho cửa hàng.
                                </span>
                            </span>
                        </span>
                    </span>
                </span>
            </p>

            <p>
                <br />
                <span style="font-size:11pt">
                    <span style="font-family:Calibri,sans-serif">
                        <span style="font-size:13.5pt">
                            <span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
                                <span style="color:#333333">
                                    <strong>2/ Thay đổi đơn h&agrave;ng</strong><br />
                                    Thay đổi sản phẩm trước thời điểm ph&aacute;t hoa dự kiến 04 giờ (hoặc khi sản phẩm chưa được<br />
                                    thiết kế):&nbsp;Được chấp nhận v&agrave; kh&ocirc;ng t&iacute;nh ph&iacute;.<br />
                                    Kh&ocirc;ng chấp nhận thay đổi sản phẩm ngay trước thời điểm ph&aacute;t hoặc khi sản phẩm đ&atilde; được thiết kế.<br />
                                    Trong trường hợp sản phẩm mới c&oacute; gi&aacute; trị nhỏ hơn gi&aacute; trị sản phẩm đ&atilde; đặt, Cửa hàng kh&ocirc;ng ho&agrave;n trả lại tiền ch&ecirc;nh lệnh. Trong trường hợp sản phẩm mới c&oacute; gi&aacute; trị lớn hơn&nbsp;sản phẩm đ&atilde; đặt, kh&aacute;ch h&agrave;ng phải thực hiện việc thanh to&aacute;n gi&aacute; trị ch&ecirc;nh lệch, cộng với ph&iacute; thay đổi .Việc thực hiện chuyển ph&aacute;t điện hoa sẽ được thực hiện sau khi việc thanh to&aacute;n ho&agrave;n tất.
                                </span>
                            </span>
                        </span>
                    </span>
                </span>
            </p>

            <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">&nbsp;</span></span></p>

            <p style="text-align:right"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:13.5pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:#333333">By Nguyễn Quang Linh</span></span></span></span></span></p>

            <p>&nbsp;</p>


        </div>

    </div>
</div>

