
@{
    ViewBag.Title = "Giới thiệu ";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 title">
            <p class="title-wrap"><a href="~/Trang-Chu"><i class="fa fa-home"></i>Trang chủ</a> > <span>@ViewBag.Title</span></p>
        </div>
    </div>
    <hr />
    <div class="row " style="background-color:aliceblue; padding: 10px 0 20px 0">

        <div class="col-lg-6">
            <img style="width:500px; height:350px" src="~/Image/tangme4.jpg" alt="Hoa" />
        </div>
        <div class="col-lg-6">
            <ul class="list-unstyled" style="line-height: 2">
                <li>
                    <span class="fa  text-success"><h3>Định hướng hoạt động</h3></span>
                </li>
                <li>
                    <strong>Website Bán Hoa</strong> là một cửa hàng hoa uy tín tại Việt Nam. Dịch vụ của chúng tôi sẽ liên kết các cửa hàng hoa trên toàn quốc lại với nhau và xây dựng mạng lưới điện hoa chuyên nghiệp khắp cả nước. Dịch vụ điện hoa sẽ giúp giải quyết những vấn đề còn tồn đọng lâu nay của thị trường giao hoa tại việt Nam và mong muốn thị trường hoa tại Việt Nam có thể phát triển mạnh mẽ hơn nữa.
                </li>
            </ul>
        </div>
    </div>
    <div class="row " style="padding: 10px 0 20px 0">

        <div class="col-lg-6">
            <ul class="list-unstyled" style="line-height: 2">
                <li>
                    <span class="fa  text-success"><h3>Mục tiêu – Nhiệm vụ</h3></span>
                </li>
                <li>
                    <strong>Website Bán Hoa </strong>với mục tiêu tạo ra những trải nghiệm mua sắm qua mạng tuyệt vời,dễ dàng và tiện lợi, bên cạnh đó cũng không ngừng nâng cao chất lượng dịch vụ tốt nhất có thể. Chỉ với một cuộc điện thoại, chúng tôi có thể giao những bông hoa mà khách hàng mong muốn trên toàn quốc chỉ trong vòng 2 tiếng đồng hồ. Thay vì bỏ nhiều thời gian đến các cửa hàng hoa và những thủ tục rườm rà, dịch vụ của chúng tôi với những chuyên viên tư vấn được đào tạo chuyên nghiệp sẽ tư vấn và giúp đỡ khách hàng lựa chọn và đặt những bó hoa tươi đẹp với thái độ thân thiện nhất.
                </li>
            </ul>

        </div>
        <div class="col-lg-6">
            <img style="width:500px; height:350px" src="~/Image/tangme7.jpg" alt="Hoa" />
        </div>
    </div>

</div>

