
@{
    ViewBag.Title = "Hướng dẫn thanh toán";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-lg-12 title">
            <p class="title-wrap"><a href="~/Trang-Chu"><i class="fa fa-home"></i>Trang chủ</a> > <span>@ViewBag.Title</span></p>
            <hr />
        </div>
        <div class="col-lg-12 ">
            <h1 class="text-center">HƯỚNG DẪN THANH TO&Aacute;N</h1>

            <p>Bạn c&oacute; thể chọn một số c&aacute;ch thanh to&aacute;n sau:</p>

            <p><strong>1. Tiền mặt:</strong></p>

            <p><strong>1.1 Thanh to&aacute;n trực tiếp tại văn ph&ograve;ng c&ocirc;ng ty</strong></p>

            <p>Cửa hàng bán hoa Nguy&ecirc;̃n Quang Linh</p>

            <p><strong>Địa chỉ 1:</strong>&nbsp;123 phú hòa, Thủ D&acirc;̀u M&ocirc;̣t, Bình Dương</p>

            <p><strong>ĐT:</strong>&nbsp;0372325249</p>

            <p>
                <strong>1.2 Thanh to&aacute;n tiền mặt khi nhận hoa</strong><br />
                <br />
                Ch&uacute;ng t&ocirc;i hỗ trợ phương thức thanh to&aacute;n COD (Cash on Delivery) - thanh to&aacute;n tiền mặt khi giao hoa trong trường hợp bạn l&agrave; người đặt v&agrave; người nhận hoa, nhằm hỗ trợ tối đa việc đặt v&agrave; nhận h&agrave;ng.<br />
                <br />
                <strong>1.3 Thu tiền mặt ở địa điểm kh&aacute;c</strong><br />
                <br />
                Trong trường hợp bạn kh&ocirc;ng phải người nhận hoa để thanh to&aacute;n tiền mặt khi nhận hoa, bạn cũng kh&ocirc;ng thể chuyển khoản hoặc đến trực ti&ecirc;́p tại cửa hàng&nbsp;để thanh to&aacute;n, ch&uacute;ng t&ocirc;i hỗ trợ giao hoa v&agrave; thu tiền ở 2 địa điểm kh&aacute;c nhau. Tuy nhi&ecirc;n, phương thức thanh to&aacute;n n&agrave;y sẽ c&oacute; th&ecirc;m ph&iacute; dịch vụ (t&ugrave;y khu vực). Vui l&ograve;ng li&ecirc;n hệ nh&acirc;n vi&ecirc;n để biết th&ecirc;m chi tiết (email linhnguyen1998125@gmail.com&nbsp;hoặc hotline 0372325249)
            </p>

            <p><strong>2. Thanh to&aacute;n chuyển khoản qua ng&acirc;n h&agrave;ng:</strong></p>

            <p>Bạn đến bất kỳ ng&acirc;n h&agrave;ng n&agrave;o ở Việt Nam để chuyển tiền theo th&ocirc;ng tin b&ecirc;n dưới (bạn kh&ocirc;ng nhất thiết phải c&oacute; t&agrave;i khoản ng&acirc;n h&agrave;ng)</p>

            <table>
                <tbody>
                    <tr>
                        <td><img alt="mua hoa online" src="https://hyt.r.worldssl.net/ShowTopicSubImage.aspx?id=34983" title="mua hoa online" /></td>
                        <td>
                            <strong>Ng&acirc;n h&agrave;ng TMCP Ngoại Thương Việt Nam</strong><br />
                            Chi nh&aacute;nh Bình Dương<br />
                            <strong>Chủ t&agrave;i khoản:</strong>&nbsp;Nguy&ecirc;̃n Quang Linh<br />
                            <strong>Số T&agrave;i Khoản:</strong>&nbsp;xxxxxxxxxxxxxxxx
                        </td>
                    </tr>
                </tbody>
            </table>

            <table>
                <tbody>
                    <tr>
                        <td><img alt="Hướng dẫn cách chuyển tiền trên internet banking của BIDV" src="https://sudospaces.com/chanhtuoi-com/uploads/2016/04/bidv-large.jpg" style="height:41px; width:200px" /></td>
                        <td>
                            <strong>Ng&acirc;n h&agrave;ng Đầu tư v&agrave; Ph&aacute;t triển Việt Nam</strong><br />
                            Chi nh&aacute;nh Bình Dương<br />
                            <strong>Chủ t&agrave;i khoản:</strong>&nbsp;Nguy&ecirc;̃n Quang Linh<br />
                            <strong>Số T&agrave;i Khoản:</strong>&nbsp;191 291 8515 2018
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

