
@{
    Layout = null;
}

<!DOCTYPE html>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Autocomplete - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
                $.ajax({
                    url: "/Home/gettensp",
                    dataType: "JSON",
                    type: "GET",
                    success: function (res) {
                        $("#tags").autocomplete({
                            source: res.data
                        });
                    }
                })
    </script>
</head>
<body>

  
        <input id="tags" >



</body>
</html>