
@{
    ViewBag.Title = " Hướng dẫn mua hàng";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<link href="~/Content/CssClient/CssDungChung.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="col-lg-12 title">
                    <p class="title-wrap"><a href="~/Trang-Chu">Trang chủ</a> > <span>@ViewBag.Title</span></p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="flex-justify-content">
                    <h2>
                        Hướng dẫn mua hàng
                    </h2>
                </div>
                <div style="font-size:13px;" class="container m-tb-15">
                    <p class="m-tb-15">
                        <strong>
                            1. KHÁCH HÀNG CÓ THỂ MUA HÀNG THEO 3 HÌNH THỨC CHÍNH SAU:
                        </strong>
                    </p>
                    <p class="m-tb-15">
                        - Gọi điện đặt hàng

                    </p>
                    <p class="m-tb-15">
                        - Chat với nhân viên chúng tôi trên trang web hoặc facebook.<br />
                        (lưu ý: Dịch vụ đặt hàng qua điện thoại và chat chỉ hoạt động trong giờ hành chính)

                    </p>
                    <p class="m-tb-15">
                        - Đặt hàng trực tiếp qua trang web (24/24). Ngay sau khi nhận được đơn hàng chúng tôi sẽ liên hệ để giao hàng tận nơi cho quý khách.
                    </p>
                    <p class="m-tb-15">
                        <strong>
                            2. QUY ĐỊNH ĐỐI VỚI KHÁCH ĐẶT RAU QUẢ, THỊT...  ĐỊNH KỲ:
                        </strong>
                    </p>
                    <p class="m-tb-15">
                        - Đối với khách đặt định kỳ, chúng tôi sẽ tự động cập nhật đơn hàng và giao hàng tuần cho đến khi nhận được thông báo dừng việc giao hàng từ quý khách.
                    </p>
                    <p class="m-tb-15">
                        - Trường hợp Quý khách muốn dừng việc giao hàng , xin vui lòng thông báo cho FreshFood trước 2 ngày và cho chúng tôi biết thời gian quý khách muốn giao hàng trở lại.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
