
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title></title>
    <style>
        table, th, td {
            border: none;
        }

            table.table {
                margin: auto;
            }
        .col-lg-4 {
            width: 110px;
            display: inline-block;
        }
        img {
            height: 70px;
            padding-top: 22px;
        }
    </style>
</head>
<body>
    <div style="background-color:white;;text-align:center;">
        <table class="table" width="70%" style="background-color:aliceblue">
            <tr>
                <td class=" head" align="center" style="background-color:yellow">
                    <span style="font-size:30px;">
                        <img src="http://pluspng.com/img-png/welcome-png-welcome-png-pics-image-33289-712.png" />
                    </span>
                    <br />
                    <br />
                </td>

            </tr>
            <tr align="center">
                <td>
                    <br />
                    <br />
                    Dear <h3>{{ten}}</h3><br />
            
                    <p>Chào mừng các bạn đã đến với cửa hàng của chúng tôi!!!</p>
                    <br />
                    {{Email}}

                    <br />
                    Shop của chúng tôi sẽ gợi ý quý khách với những mặt hàng sau: 
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="table-content ">
                                <div class="frame ">
                                    <div class="picture">
                                        <div class="hovereffect">



                                            <a href="~/Chi-Tiet?MASP=1"><img src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/hoa-tang-me/8523_for-her.jpg" class="img-size img-responsive text-center img-thumbnail" alt="" /></a>
                                            <div class="overlay">
                                            </div>

                                        </div>
                                        <div class="content-row">
                                            <a href="http://localhost:52187/Chi-Tiet?MASP=5"><p class="title-content">Tặng mẹ 1</p></a>

                                        </div>
                                    </div>

                                </div>

                            </div>
                            <p class="flex-middle mt-30">
                            </p>
                        </div>
                        <div class="col-lg-4">
                            <div class="table-content ">
                                <div class="frame ">
                                    <div class="picture">
                                        <div class="hovereffect">



                                            <a href="~/Chi-Tiet?MASP=1"><img src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-tang-me/5156_tinh-khuc-vang.jpg" class="img-size img-responsive text-center img-thumbnail" alt="" /></a>
                                            <div class="overlay">
                                            </div>

                                        </div>
                                        <div class="content-row">
                                            <a href="http://localhost:52187/Chi-Tiet?MASP=5"><p class="title-content">Tặng mẹ 2</p></a>

                                        </div>
                                    </div>

                                </div>

                            </div>
                            <p class="flex-middle mt-30">
                            </p>
                        </div>
                        <div class="col-lg-4">
                            <div class="table-content ">
                                <div class="frame ">
                                    <div class="picture">
                                        <div class="hovereffect">



                                            <a href="~/Chi-Tiet?MASP=1"><img src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-tang-me/5183_coi-mong-mo.jpg" class="img-size img-responsive text-center img-thumbnail" alt="" /></a>
                                            <div class="overlay">
                                            </div>

                                        </div>
                                        <div class="content-row">
                                            <a href="http://localhost:52187/Chi-Tiet?MASP=5"><p class="title-content">Tặng mẹ 3</p></a>

                                        </div>
                                    </div>

                                </div>

                            </div>
                            <p class="flex-middle mt-30">
                            </p>
                        </div>
                        <div class="col-lg-4">
                            <div class="table-content ">
                                <div class="frame ">
                                    <div class="picture">
                                        <div class="hovereffect">



                                            <a href="~/Chi-Tiet?MASP=1"><img src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-tang-me/8440_tho-mong.jpg" class="img-size img-responsive text-center img-thumbnail" alt="" /></a>
                                            <div class="overlay">
                                            </div>

                                        </div>
                                        <div class="content-row">
                                            <a href="http://localhost:52187/Chi-Tiet?MASP=5"><p class="title-content">Tặng mẹ 4</p></a>

                                        </div>
                                    </div>

                                </div>

                            </div>
                            <p class="flex-middle mt-30">
                            </p>
                        </div>
                    </div>
                    <br />
                    <br />

                </td>
            </tr>
            <tr>
                <td align="center" style="background-color:yellow">
                    <br />
                    <br />
                    <img style="width:35%;height:40%;" src="https://pluspng.com/img-png/hoa-png-0-9c7ad-b0fb2c64-l-png-500.png" />
                    <br />
                    <br />
                </td>
            </tr>
        </table>
        <div class="" style="margin:16px;text-align:center;font-size:12px;color:#888">
            <img style="width:1px;height:1px" src="https://ci4.googleusercontent.com/proxy/vdv8uSnmT-pc6oJEgrY8zvwtpmYNInSU9oA7L_RRRS4-VMwuEa36fL38LZ8YxDhywoXgKfyyXrjpMCPsuW3Obt9fB98rD9ej5VWpq5FUtkpPRJYpqUXH0F2weO8=s0-d-e1-ft#http:///cgi-bin/readtemplate?sid=$SID$&amp;loc=pushmail1,weixiniphone,show,44" class="CToWUd"> <img style="width:1px;height:1px" src="https://ci6.googleusercontent.com/proxy/Kq_Jxebf1ZzSKTutsi4LNl1SA_IoAjJ4Y43m7WRj3vIyV_med-ZpcyUrEpuAVFml-n2i1izJfsauPlQb4d9IpN-dcgJK9UhJxv0hcfuEkIgJM_lc5dEhotXdulrYHnJPwkTS14aw6_o=s0-d-e1-ft#http://weixin.qq.com/cgi-bin/reportforpromote?uin=$RCPTUIN$&amp;sdate=$SDATE$&amp;tver=$TVER$" class="CToWUd">
        </div><div class="yj6qo"></div><div class="adL">
        </div>
    </div>

</body>
</html>